:root {
  --heads-color: #212121;
  --second-color: #ffffff;
  --link-color: #2196f3;
  --grey-color: #757575;
  --backhero-color: #c4c4c4;
  --back-color: #2f303a;
  --accent-color: #188ce8;
  --ourteam-fon: #f5f4fa;
  --theme-logo: #000000;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --border-box-color: #eeeeee;
  --current-color: #2196f3;
  --headerline-color: #ececec;
  --borderpartners-color: #afb1b8;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--second-color);
}

.link {
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.header {
  background: var(--second-color);
  border-bottom: 1px solid var(--headerline-color);
}
.header .container {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
}
.header__links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: var(--heads-color);
}
.header__list li:not(:last-child) {
  margin-right: 50px;
}
.header__links:hover, .header__links:focus {
  position: relative;
  color: var(--link-color);
}
.header__links:hover::after, .header__links:focus::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  background: #2196f3;
  border-radius: 2px;
}
.header__links.current {
  position: relative;
  color: var(--current-color);
}
.header__links.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  background: #2196f3;
  border-radius: 2px;
}
.header__contact {
  display: flex;
  margin-left: auto;
}
.header__email, .header__tel {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: var(--grey-color);
}
.header__email:hover, .header__email:focus, .header__tel:hover, .header__tel:focus {
  color: var(--link-color);
}
.header__email {
  margin-right: 40px;
}
.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  display: block;
  padding: 24px 0 25px 0;
  margin-right: 93px;
  color: var(--link-color);
}
.logo__header-part {
  color: var(--theme-logo);
}
.logo__footer-part {
  color: var(--second-color);
}

.hero {
  background-color: var(--backhero-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-fon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.hero .container {
  display: flex;
  padding: 200px 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-bottom: 30px;
  color: var(--second-color);
}
.hero__btn {
  background: var(--link-color);
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background: var(--accent-color);
}
.hero__text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.features .container {
  padding: 94px 15px;
}
.features__list {
  display: flex;
  flex-wrap: nowrap;
}
.features__list li:not(:last-child) {
  margin-right: 30px;
}
.features__heads {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  margin-top: 30px;
  color: var(--heads-color);
}
.features__item {
  width: 270px;
}
.features__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-top: 10px;
  color: var(--grey-color);
}
.features__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--ourteam-fon);
}

.ourjob .container {
  padding-bottom: 94px;
}
.ourjob__title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--heads-color);
}
.ourjob__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
.ourjob__img {
  position: relative;
  overflow: hidden;
}
.ourjob__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  background: rgba(47, 48, 58, 0.8);
}

.ourteam {
  background: var(--ourteam-fon);
}
.ourteam .container {
  padding: 94px 15px;
}
.ourteam__head {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--heads-color);
}
.ourteam__list {
  display: flex;
}
.ourteam__card {
  background: var(--second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.ourteam__list li:not(:last-child) {
  margin-right: 30px;
}
.ourteam__card .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 270px;
  padding: 30px 0;
}
.ourteam__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--heads-color);
}
.ourteam__profi {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--grey-color);
}
.ourteam__soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourteam__soc-items {
  width: 44px;
  height: 44px;
}
.ourteam__soc-list .ourteam__soc-items:not(:last-child) {
  margin-right: 10px;
}
.ourteam__soc-links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--borderpartners-color);
}
.ourteam__soc-links:hover {
  background-color: var(--current-color);
  fill: var(--second-color);
}

.partners .container {
  padding: 94px 15px;
}
.partners__head {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--heads-color);
}
.partners__list {
  display: flex;
  align-items: center;
}
.partners__items {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--borderpartners-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 30px;
  fill: var(--borderpartners-color);
}
.partners__list li:last-child {
  margin-right: 0px;
}
.partners__items:hover, .partners__items:focus {
  fill: var(--current-color);
  border: 1px solid var(--current-color);
}

.portfolio .container {
  padding: 94px 15px;
}
.portfolio__buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.portfolio__btn {
  background-color: var(--ourteam-fon);
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__text-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--heads-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__text-btn:hover, .portfolio__text-btn:focus {
  color: var(--second-color);
}
.portfolio__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.portfolio__items {
  box-sizing: border-box;
  background: var(--second-color);
  border: 1px solid var(--border-box-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__items:hover, .portfolio__items:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__items .container {
  width: 370px;
  padding: 20px 24px;
}
.portfolio__title-card {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--heads-color);
}
.portfolio__text-card {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.portfolio__tumb {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  opacity: 90%;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__items:hover .portfolio__overlay {
  transform: translateY(-100%);
}

.footer {
  background-color: var(--back-color);
}
.footer .container {
  display: flex;
  padding: 60px 15px;
}
.footer .logo {
  margin-right: 0;
  padding: 0;
}
.footer__first {
  width: 231px;
}
.footer__list {
  margin-top: 20px;
}
.footer__list li:not(:last-child) {
  margin-bottom: 12px;
}
.footer__adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.footer__email, .footer__tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}
.footer__adress:hover, .footer__adress:focus, .footer__email:hover, .footer__email:focus, .footer__tel:hover, .footer__tel:focus {
  color: var(--link-color);
}
.footer__second {
  margin-left: 70px;
  padding-top: 12px;
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 20px;
}
.footer__soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__soc-items {
  width: 44px;
  height: 44px;
}
.footer__soc-list .footer__soc-items:not(:last-child) {
  margin-right: 10px;
}
.footer__soc-links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--second-color);
}
.footer__soc-links:hover {
  background-color: var(--current-color);
}
.footer__forms {
  margin-left: auto;
  margin-right: 0;
  padding-top: 12px;
}
.footer__form-section {
  display: flex;
}
.footer__form-email {
  width: 358px;
  height: 50px;
  color: var(--footer-link-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--back-color);
  margin-right: 12px;
  padding-left: 16px;
}
.footer__form-email::-moz-placeholder {
  color: var(--footer-link-color);
}
.footer__form-email:-ms-input-placeholder {
  color: var(--footer-link-color);
}
.footer__form-email::placeholder {
  color: var(--footer-link-color);
}
.footer__btn {
  width: 200px;
  height: 50px;
  background-color: var(--current-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.875;
  color: var(--second-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__btn:hover, .footer__btn:focus, .footer__btn:active {
  background: var(--accent-color);
}

.form__btn-text {
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 350ms linear, visibility 350ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 350ms linear;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--second-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__close:hover, .modal__close:focus {
  fill: var(--current-color);
}
.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heads-color);
  margin-bottom: 12px;
}
.modal__input-group:nth-child(-n+3) {
  margin-bottom: 10px;
}
.modal__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}
.modal__input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 4px;
  padding-left: 42px;
  color: var(--grey-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon-input {
  position: absolute;
  top: 53%;
  left: 15px;
}
.modal__input:focus-within ~ .modal__icon-input, .modal__input:hover ~ .modal__icon-input {
  fill: var(--current-color);
}
.modal__input:focus-within, .modal__input:hover {
  border: 1px solid var(--current-color);
  outline: none;
}
.modal__text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input-group {
  position: relative;
}
.modal__text {
  width: 448px;
  height: 120px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text:focus-within, .modal__text:hover {
  border: 1px solid var(--current-color);
  outline: none;
}
.modal__button {
  width: 200px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  cursor: pointer;
  color: var(--second-color);
  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.modal__button:hover, .modal__button:focus {
  background-color: var(--accent-color);
}
.modal__label-checkbox::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}
.modal__label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__label-checkbox {
  font: inherit;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #757575;
}
.modal__checkbox-input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.modal__checkbox-input:checked + .modal__label-checkbox::before {
  background-color: var(--link-color);
  border: none;
  background-image: url(../img/CHECK.svg);
  background-repeat: no-repeat;
}
.modal__terms {
  color: var(--link-color);
  margin-left: 5px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */