p,
h1,
h2,
h3 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--second-color);
}

.link {
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --heads-color: #212121;
  --second-color: #ffffff;
  --link-color: #2196f3;
  --grey-color: #757575;
  --backhero-color: #c4c4c4;
  --back-color: #2f303a;
  --accent-color: #188ce8;
  --ourteam-fon: #f5f4fa;
  --theme-logo: #000000;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --border-box-color: #eeeeee;
  --current-color: #2196f3;
  --headerline-color: #ececec;
  --borderpartners-color: #afb1b8;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  min-height: 60px;
  border-bottom: 1px solid #ececec;
}
.header__logo {
  display: block;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header__logo {
    height: 80px;
    padding: 26px 0px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.header .container {
  display: flex;
  align-items: center;
}

.menu-open {
  border: 0;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}
.menu-open:hover, .menu-open:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  padding: 16px 0;
  display: block;
  color: var(--link-color);
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 24px 0 25px 0;
    margin-right: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
    letter-spacing: 0.03em;
    margin-right: 93px;
  }
}
.logo__header-part {
  color: var(--theme-logo);
}
.logo__footer-part {
  color: var(--second-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--second-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateY(0);
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-close {
    display: none;
  }
}

.mobile-navigation__list {
  padding-top: 48px;
  padding-left: 40px;
  margin: 0px;
  list-style: none;
}

.mobile-navigation__items:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heads-color);
  text-decoration: none;
}
.mobile-navigation__link:hover, .mobile-navigation__link:focus {
  color: var(--accent-color);
}

.mobile-connection {
  padding-left: 40px;
  padding-bottom: 64px;
  margin: 0px;
  list-style: none;
}
.mobile-connection__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-connection__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}
.mobile-connection__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  text-decoration: none;
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-bottom: 48px;
  margin: 0px;
  list-style: none;
}

.mobile-social__item {
  position: relative;
}

.mobile-social__item:not(:last-child) {
  margin-right: 20px;
}

.mobile-social__item:not(:last-child)::after {
  content: "";
  position: absolute;
  display: block;
  left: 100%;
  top: 50%;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mobile-current {
  color: var(--accent-color);
}

.header-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
  }
}
.header-nav__list {
  display: flex;
}

.header-nav__links {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--heads-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__links:hover, .header-nav__links:focus {
  color: var(--accent-color);
}

.header-nav__list li:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .header-nav__list {
    margin-right: 74px;
  }
}

.header-nav__links:hover::after,
.header-nav__links:focus::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  background: #2196f3;
  border-radius: 2px;
}

.header-nav__links.current {
  position: relative;
  color: var(--current-color);
}

.header-nav__links.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  background: #2196f3;
  border-radius: 2px;
}

.header-contact {
  display: none;
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .header-contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-contact__email {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .header-contact__email {
    margin-bottom: 0;
    margin-right: 40px;
  }
}
.header-contact__email, .header-contact__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__email:hover, .header-contact__email:focus, .header-contact__tel:hover, .header-contact__tel:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header-contact__email, .header-contact__tel {
    justify-content: center;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}
.header-contact__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .header-contact__icon {
    margin-right: 10px;
  }
}

.hero {
  max-width: 480px;
  height: 400px;
  padding: 118px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--backhero-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../img/hero-fon-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../img/hero-fon-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../img/hero-fon-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../img/hero-fon-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../img/hero-fon.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//../img/hero-fon-2x.jpg);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--second-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}
.hero__btn {
  background: var(--link-color);
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background: var(--accent-color);
}
.hero__text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.features {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0px;
  }
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.features__item {
  width: 100%;
  margin-left: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.features__heads {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  margin-top: 30px;
  color: var(--heads-color);
}
@media screen and (max-width: 767px) {
  .features__heads {
    text-align: center;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-top: 10px;
  color: var(--grey-color);
}
.features__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--ourteam-fon);
}

.ourjob {
  display: none;
}
@media screen and (min-width: 1200px) {
  .ourjob {
    display: block;
  }
}
.ourjob .container {
  padding-bottom: 94px;
}
.ourjob__title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--heads-color);
}
.ourjob__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
.ourjob__img {
  position: relative;
  overflow: hidden;
}
.ourjob__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  background: rgba(47, 48, 58, 0.8);
}

.ourteam {
  background: var(--ourteam-fon);
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .ourteam {
    padding: 94px 0px;
  }
}
.ourteam__head {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--heads-color);
}
@media screen and (min-width: 1200px) {
  .ourteam__head {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}
.ourteam__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.ourteam__card {
  background: var(--second-color);
  width: 100%;
  margin-left: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .ourteam__card {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .ourteam__card {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.ourteam__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--heads-color);
}
.ourteam__profi {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--grey-color);
}
.ourteam__soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .ourteam__soc-list {
    margin-bottom: 30px;
  }
}
.ourteam__soc-items {
  width: 44px;
  height: 44px;
}
.ourteam__soc-list .ourteam__soc-items:not(:last-child) {
  margin-right: 10px;
}
.ourteam__soc-links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--borderpartners-color);
}
.ourteam__soc-links:hover {
  background-color: var(--current-color);
  fill: var(--second-color);
}

.partners {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .partners {
    padding: 94px 0px;
  }
}
.partners__head {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heads-color);
}
@media screen and (min-width: 1200px) {
  .partners__head {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.partners__items {
  width: 100%;
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 2);
  display: flex;
  height: 92px;
  border: 1px solid var(--borderpartners-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: var(--borderpartners-color);
}
@media screen and (min-width: 768px) {
  .partners__items {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .partners__items {
    flex-basis: calc((100% - 180px) / 6);
  }
}
.partners__items:hover, .partners__items:focus {
  fill: var(--current-color);
  border: 1px solid var(--current-color);
}

.portfolio .container {
  padding: 94px 15px;
}
.portfolio__buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.portfolio__btn {
  background-color: var(--ourteam-fon);
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__text-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--heads-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__text-btn:hover, .portfolio__text-btn:focus {
  color: var(--second-color);
}
.portfolio__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.portfolio__items {
  box-sizing: border-box;
  background: var(--second-color);
  border: 1px solid var(--border-box-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__items:hover, .portfolio__items:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__items .container {
  width: 370px;
  padding: 20px 24px;
}
.portfolio__title-card {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--heads-color);
}
.portfolio__text-card {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.portfolio__tumb {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  opacity: 90%;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__items:hover .portfolio__overlay {
  transform: translateY(-100%);
}

.footer {
  background-color: var(--back-color);
}
@media screen and (max-width: 1199px) {
  .footer .container {
    padding: 60px 15px;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    justify-content: space-between;
  }
}
.footer__first {
  font-style: normal;
}
@media screen and (max-width: 1199px) {
  .footer__first {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__first {
    padding: 60px 0;
  }
}
.footer .logo {
  margin-right: 0;
  padding: 0;
}
.footer__list {
  margin-top: 28px;
}
.footer__list li:not(:last-child) {
  margin-bottom: 12px;
}
.footer__adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.footer__email, .footer__tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}
.footer__adress:hover, .footer__adress:focus, .footer__email:hover, .footer__email:focus, .footer__tel:hover, .footer__tel:focus {
  color: var(--link-color);
}
@media screen and (max-width: 1199px) {
  .footer__second {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__second {
    padding-top: 72px;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__title {
    text-align: center;
  }
}
.footer__soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__soc-items {
  width: 44px;
  height: 44px;
}
.footer__soc-list .footer__soc-items:not(:last-child) {
  margin-right: 10px;
}
.footer__soc-links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--second-color);
}
.footer__soc-links:hover {
  background-color: var(--current-color);
}
@media screen and (min-width: 1200px) {
  .footer__forms {
    padding-top: 72px;
  }
}
.footer__form-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .footer__form-section {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-section {
    position: relative;
    width: 570px;
    flex-direction: row;
  }
}
.footer__form-email {
  width: 100%;
  height: 50px;
  color: var(--footer-link-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--back-color);
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer__form-email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-email {
    width: 358px;
    margin-right: 12px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__form-email {
    margin-bottom: 20px;
  }
}
.footer__form-email::-moz-placeholder {
  color: var(--footer-link-color);
}
.footer__form-email:-ms-input-placeholder {
  color: var(--footer-link-color);
}
.footer__form-email::placeholder {
  color: var(--footer-link-color);
}
.footer__btn {
  width: 200px;
  height: 50px;
  background-color: var(--current-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.875;
  color: var(--second-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__btn:hover, .footer__btn:focus, .footer__btn:active {
  background: var(--accent-color);
}

.form__btn-text {
  margin-right: 12px;
}
@media screen and (min-width: 1200px) {
  .form__btn-text {
    margin-right: 10px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 350ms linear, visibility 350ms linear;
}

.modal {
  position: absolute;
  top: 45%;
  left: 50%;
  width: calc(100% - 30px);
  transform: translate(-50%, -50%) scaleY(1);
  padding: 40px;
  background: var(--second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 350ms linear;
}
@media screen and (min-width: 480px) {
  .modal {
    height: 609px;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    top: 53%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    min-height: 581px;
    min-width: 528px;
  }
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--second-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__close:hover, .modal__close:focus {
  fill: var(--current-color);
}
.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heads-color);
  margin-bottom: 12px;
}
.modal__input-group:nth-child(-n+3) {
  margin-bottom: 10px;
}
.modal__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}
.modal__input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 4px;
  padding-left: 42px;
  color: var(--grey-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon-input {
  position: absolute;
  top: 53%;
  left: 15px;
}
.modal__input:focus-within ~ .modal__icon-input, .modal__input:hover ~ .modal__icon-input {
  fill: var(--current-color);
}
.modal__input:focus-within, .modal__input:hover {
  border: 1px solid var(--current-color);
  outline: none;
}
.modal__text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input-group {
  position: relative;
}
.modal__text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text:focus-within, .modal__text:hover {
  border: 1px solid var(--current-color);
  outline: none;
}
.modal__button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  cursor: pointer;
  color: var(--second-color);
  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.modal__button:hover, .modal__button:focus {
  background-color: var(--accent-color);
}
.modal__label-checkbox::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}
.modal__label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__label-checkbox {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .modal__label-checkbox {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.modal__checkbox-input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.modal__checkbox-input:checked + .modal__label-checkbox::before {
  background-color: var(--link-color);
  border: none;
  background-image: url(../img/CHECK.svg);
  background-repeat: no-repeat;
}
.modal__terms {
  color: var(--link-color);
  margin-left: 5px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */