@import "./utils/base";
@import "./utils/variables";

@import "./components/container";
@import "./components/header";
@import "./components/logo";
@import "./components/hero";
@import "./components/features";
@import "./components/ourjob";
@import "./components/ourteam";
@import "./components/partners";
@import "./components/portfolio";
@import "./components/footer";
@import "./components/backdrop";