.features {
    padding: 60px 0px;

    @include desktop {
        padding: 94px 0px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-bottom: -30px;
    }

    &__item {
        width: 100%;
        margin-left: 30px;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;

        @include tablet {
            flex-basis: calc((100% - 60px) / 2);
        }

        @include desktop {
            flex-basis: calc((100% - 120px) / 4);
        }
    }

    &__heads {
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        margin-top: 30px;
        color: var(--heads-color);

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &__text {
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        margin-top: 10px;
        color: var(--grey-color);
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        border-radius: 4px;
        background-color: var(--ourteam-fon);
    }
}