.features {
    & .container {
        padding: 94px 15px;
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
    }

    &__list li:not(:last-child) {
        margin-right: 30px;
    }

    &__heads {
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        margin-top: 30px;
        color: var(--heads-color);
    }

    &__item {
        width: 270px;
    }

    &__text {
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        margin-top: 10px;
        color: var(--grey-color);
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        background-color: var(--ourteam-fon);
    }
}