.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    display: block;
    padding: 24px 0 25px 0;
    color: var(--link-color);

    @include tablet {
        margin-right: 80px;
    }

    @include desktop {
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        margin-right: 93px;
    }

    &__header-part {
        color: var(--theme-logo);
    }

    &__footer-part {
        color: var(--second-color);
    }
}