.header-nav {
    display: flex;

    // @include tablet {
    //     display: flex;
    // }

    // &__list {
    //     display: flex;
    // }

    // &__items:not(:last-child) {
    //     margin-right: 50px;
    // }
}

.header-nav__links {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--heads-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}

.current {
    color: var(--current-color);
}