.ourjob__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--heads-color);
}

.ourjob__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.ourjob .container {
    padding-bottom: 94px;
}

.ourjob__img {
    position: relative;
    overflow: hidden;
}

.ourjob__label {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color);
    background: rgba(47, 48, 58, 0.8);
}