:root {
    --heads-color: #212121;
    --second-color: #ffffff;
    --link-color: #2196f3;
    --grey-color: #757575;
    --backhero-color: #c4c4c4;
    --back-color: #2f303a;
    --accent-color: #188ce8;
    --ourteam-fon: #f5f4fa;
    --theme-logo: #000000;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --border-box-color: #eeeeee;
    --current-color: #2196f3;
    --headerline-color: #ececec;
    --borderpartners-color: #afb1b8;
}